html, body {
  margin: 0;
  padding: 0;

}

#ComplexShape {
  padding-top: 5%;
}

#ComplexShape path {
  cursor: pointer;
  pointer-events: all;
}

#ComplexShape path:hover {
  fill: #F55536;
  cursor: pointer;
}

canvas {
  vertical-align: center;
  horizontal-align: center;
  
}


  