@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Jacquard+24&display=swap");

body {
    background-color: white;
    margin: 0;
}

#logo { 
    width: 50vw; 
    height: 13vw;  
    font-family: Jacquard 24;
    background-image: url("artoflydia.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5vw; 
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#subheading {
    color: #000000;
    font-family: "Courier Prime", monospace;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    padding-bottom: 5%;

}

#intro a {
    color: #000000;
    text-align: center;
    font-family: "Courier Prime";
    margin-bottom: 10px;
    font-size: 34px;
}

p {
    color: #000000;
    font-family: "Courier Prime";
    font-size: 12px;
    margin-top: 50px;
    text-align: left;
    padding-bottom: 15%;
}


#topmiddlewrapper {
    position: relative;
    cursor: grab;
}
  
#topmiddlewrapper:active {
    cursor: grabbing;
}
  
  
#topmiddlewrapper > img {
    width: 100%;
    height: auto;
}
  
#bw_stilllife {
    position: relative;
    top: 20px;
    left: 0;
    opacity: 1;
    transition: 1000ms;
    /* z-index: -1; */
}
  
#color_stilllife{
    opacity: 0;
    top: 20px;
    position: absolute;
    left: 0;
}
  
#topmiddlewrapper:hover > #bw_stilllife,
#topmiddlewrapper:focus > #bw_stilllife {
    opacity: 0;
}
  
#topmiddlewrapper:hover > #color_stilllife,
#topmiddlewrapper:focus > #color_stilllife {
    opacity: 1;
}


.project {
    border: solid px #000000;
    color: #000000;
    text-align: center;
    font-family: "Courier Prime";
    margin-bottom: 10%;
    font-weight: regular;
    font-size: 24px;
    margin-top: 20px;
    padding: 0 10%;
    margin: 0;
    width: 80%;
    /* height: 80%; */
}




