@import url(https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+3D&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&family=Ultra&display=swap);

body {
    background-color:#b1d3c5;
}

h1 {
    position: absolute;
    padding-top: 10vh;
    padding-left: 16vw;
    font-family: "Limelight", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    color:#2c696a;
    display: flex; 
    text-align: center;
}

#animals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/*#pug img {
    position: absolute;
    left: 5vw;
    top: 59vh;
    width: 23vw;
    overflow: hidden;
}*/

#chowchow img {
    position: absolute;
    left: 23vw;
    top: 50vh;
    width: 50vw;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

#chowchow:hover {
    background-image: url('chowchow2.png');
    left: 5vw;
    top: 50vh;
    width: 50vw;
}

#capybara img {
    position: absolute;
    right: 5vw;
    top: 53vh;
    width: 25vw;
    overflow: hidden;
}

#pugwrapper{
    position: relative;
  }
  
  #pug2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 300ms;
  }
  
  #pug2:hover, #pug:focus{
    opacity: 0;
  }
