@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Zen+Kaku+Gothic+Antique:wght@900&display=swap");
.frontpage h1 {
  position: relative;
  padding-left: 10%;
  padding-top: 5%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 150px;
  color: #f6d8cf;
  padding-bottom: 0px;
  margin: auto;
}

#theyear {
  text-align: center;
  font-family: "Monoton", sans-serif;
  font-size: 2000%;
  margin: 0;
  color: #0e0e77;
  padding-top: 20px;
  margin: auto;
  padding-bottom: 0px;
}


#dragon { 
  position: absolute;
/*  same deal here  */
  padding-left: 10%;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 150px;
  color:  #ffd978;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 3s steps(29,end) 2s 1 normal both,
             animated-cursor 0.75s steps(1,end) infinite;
}

/* text animation */


@keyframes animated-text{
  from{width: 0;}
  to{width: 752px;}
}

/* cursor animations */
@keyframes animated-cursor{
  0%{border-right: 20px solid rgba(14, 14, 119, 0);}
  50%{border-right: 20px solid rgba(14, 14, 119, 1);}
} 


.arrow{
  position: fixed;
  right: 40px;
  bottom: 40px;
  width:30px;
  height: 30px;
  cursor:pointer;
/*   border:solid 1px white; */
  transition:0.5s;
  overflow:hidden;
  transform: rotate(180deg);
  scale: 2;
}

.arrow:hover{
/*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
      border:solid 2px #f6d8cf;
    border-radius:50%;
}
.arrow:after{
  position:absolute;
  display:block;
  content:"";
  color:#f6d8cf;
  width: 20px;
  height: 15px;
/*   border:solid 1px;  */
  top:-1px;
  border-bottom:solid 3px;
  transform:translatex(4px);
}

.arrow:before{
  position:absolute;
  display:block;
  content:"";
  color:#f6d8cf;
  width: 8px;
  height: 8px;
/*   border:solid 1px;  */
  border-top:solid 3px;
  border-left:solid 3px;
  top:50%;
  left:2px;
  transform-origin:0% 0%;
  transform:rotatez(-45deg);

}
.arrow:hover:before{
 animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow:hover:after{
 animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}


@keyframes aniArrow01 {
  0% {
    transform:rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}


@keyframes aniArrow02 {
  0% {
    transform:translateX(45px);
  }
  100% {
    transform:translateX(-44px);
  }
}

@keyframes borderAni{
   0% {
    border:solid 2px #f6d8cf;
  }
  100% {    
    border:solid 2px #f6d8cf;
    border-radius:50%;
  }
}

.arrow2{
  position: fixed;
  left: 40px;
  bottom: 40px;
  width:30px;
  height: 30px;
  cursor:pointer;
/*   border:solid 1px white; */
  transition:0.5s;
  overflow:hidden;
  transform: rotate(180deg);
  scale: 2;
}

.arrow2:hover{
/*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
      border:solid 2px #bb5353;
    border-radius:50%;
}
.arrow2:after{
  position:absolute;
  display:block;
  content:"";
  color:#bb5353;
  width: 20px;
  height: 15px;
/*   border:solid 1px;  */
  top:-1px;
  border-bottom:solid 3px;
  transform:translatex(4px);
}

.arrow2:before{
  position:absolute;
  display:block;
  content:"";
  color: #bb5353;
  width: 8px;
  height: 8px;
/*   border:solid 1px;  */
  border-top:solid 3px;
  border-left:solid 3px;
  top:50%;
  left:2px;
  transform-origin:0% 0%;
  transform:rotatez(-45deg);

}
.arrow2:hover:before{
 animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow2:hover:after{
 animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}


@keyframes aniArrow01 {
  0% {
    transform:rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}


@keyframes aniArrow02 {
  0% {
    transform:translateX(45px);
  }
  100% {
    transform:translateX(-44px);
  }
}

@keyframes borderAni{
   0% {
    border:solid 2px #bb5353;
  }
  100% {    
    border:solid 2px #bb5353; 
    border-radius:50%;
  }
}


.arrow3{
  position: fixed;
  right: 48%;
  bottom: 40px;
  width:30px;
  height: 30px;
  cursor:pointer;
/*   border:solid 1px white; */
  transition:0.5s;
  overflow:hidden;
  scale: 2;
}

.arrow3:hover{
/*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
      border:solid 2px #bb5353;
    border-radius:50%;
}
.arrow3:after{
  position:absolute;
  display:block;
  content:"";
  color:#bb5353;
  width: 20px;
  height: 15px;
/*   border:solid 1px;  */
  top:-1px;
  border-bottom:solid 3px;
  transform:translatex(4px);
}

.arrow3:before{
  position:absolute;
  display:block;
  content:"";
  color: #bb5353;
  width: 8px;
  height: 8px;
/*   border:solid 1px;  */
  border-top:solid 3px;
  border-left:solid 3px;
  top:50%;
  left:2px;
  transform-origin:0% 0%;
  transform:rotatez(-45deg);

}
.arrow3:hover:before{
 animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}

.arrow3:hover:after{
 animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}


@keyframes aniArrow01 {
  0% {
    transform:rotatez(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
  }
}


@keyframes aniArrow02 {
  0% {
    transform:translateX(45px);
  }
  100% {
    transform:translateX(-44px);
  }
}

@keyframes borderAni{
   0% {
    border:solid 2px #bb5353;
  }
  100% {    
    border:solid 2px #bb5353; 
    border-radius:50%;
  }
}



 body {
    background-color: #f6d8cf;
 }
 .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
   
  }
  
  .left {
    flex: 40%;
  }

  .left h1 {
    position: relative;
    padding-top: 70%;
    text-align: center;
    padding-left: 50px;
    padding-right: 70px;
    font-family: "Josefin Sans", sans-serif;
    width: 90%;
    color:#bb5353;
  }

 .left img {
  padding-top: 40px;
  padding-left: 20px;
  display:block;
  margin:auto;
  width: 100%;
 }
  
  .right {
    flex: 70%;
  }

 
 section {
    flex:50%;
    padding-top: 100px;
    display: block;
    margin: auto;
    justify-content: center;
    padding-left: 18px;
    padding-bottom: 100px;
  }  

  table {
    border-spacing: 20px;
  }

 .cardwrapper {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    width: 196.5px;
    height: 375px;
    transition: 1s;
    /*  very important  */
    transform-style: preserve-3d;
  }
  
  .cardstyles {
    /*  very important  */
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
  }
  

  .cardback {
    background-color: white;
    transform: rotateY(180deg);
  }
  
  .cardwrapper:hover {
    transform: perspective(200px) rotateY(180deg) scale(1.5);
    z-index: 100;
  }

#years {
    position: relative;
    text-align: center;
    color: #b5ddf4;
    font-size: 24.5px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    margin-top: 29px;
  }

#years p {
    margin: 2.5;
    letter-spacing: 0.1em;
  }

#story {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 5px;
}

#ComplexShape {
  padding-top: 5%;
}

#ComplexShape path {
  cursor: pointer;
  pointer-events: all;
}

#ComplexShape path:hover {
  fill: #ffd978;
  cursor: pointer;
}


.wrapper img {
  position: fixed;
  top: -10;
  left: 100px;
}

.wrapper1 img {
  position: fixed;
  top: -1000;
  left: 100px;
}


.korean img {
  position: fixed;
  top: -10;
  right: 100px;
}

.korean1 img {
  position: fixed;
  top: -1000;
  right: 100px;
}


