@import url(https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+3D&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&family=Ultra&display=swap);

body {
  background-color: #b1d3c5;
}

h1 {
  position: absolute;
  padding-top: 10vh;
  padding-left: 16vw;
  font-family: "Limelight", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  color: #2c696a;
  text-align: center;
}

#animals {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: space-evenly;
  align-items: flex-end;
}

#pugwrapper, #chowchowwrapper, #capybarawrapper {
  position: relative;
  cursor: grab;
}

#pugwrapper:active, #chowchowwrapper:active, #capybarawrapper:active {
  cursor: grabbing;
}

#pugwrapper {
  width: 23vw;
}

#chowchowwrapper {
  width: 50vw;
}

#capybarawrapper {
  width: 25vw;
}

#pugwrapper > img,
#chowchowwrapper > img,
#capybarawrapper > img {
  width: 100%;
  height: auto;
}

#pug1,
#chowchow1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 300ms;
}

#capybara1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0s;
}

#capybara2 {
  opacity: 0;
}

#pugwrapper:hover > #pug1,
#pugwrapper:focus > #pug1,
#chowchowwrapper:hover > #chowchow1,
#chowchowwrapper:focus > #chowchow1,
#capybarawrapper:hover > #capybara1,
#capybarawrapper:focus > #capybara1{
  opacity: 0;
}

#capybarawrapper:hover > #capybara2,
#capybarawrapper:focus > #capybara2 {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  h1{
    position: relative;
    padding-left: 0;
  }
  
  #animals{
    flex-direction: column;
    align-items: center;
    height: 60vh;
    top: 125vw;
    left: 0;
  }
  #animals > div {
    width: 70vw;
  }
}